<div class='row mx-auto'>
	<div class='col-sm-6'>
		<button mdbBtn class='btn btn-primary btn-lg btn-block'>
			Encryption
		</button>
		<div class='form-group dropzone' appDropzone (hovered)='toggleHover($event, "encrypt")'
			(dropped)='onDrop($event, "encrypt")' [class.hovering]='isHoveringEncrypt'>
			<label for='txtTextToConvert'>Enter Plain Text or Drag a File</label>
			<textarea class='form-control' placeholder='Text to encrypt'
				[(ngModel)]='plainText'></textarea>
		</div>

		<div class='form-group'>
			<label for='txtPassword'>Password</label>
			<input type='password' class='form-control' placeholder=' Encryption password'
				[(ngModel)]='encPassword'>
		</div>
		<textarea class='form-control' readonly>{{conversionEncryptOutput}}</textarea>

		<button mdbBtn class='btn btn-success float-right' (click)='encrypt()'>Encrypt</button>
		<button mdbBtn class='btn btn-info float-right' (click)='clear("encrypt")'>Clear</button>
		<button mdbBtn class='btn btn-default float-right' (click)='copy("encrypt")' ngxClipboard
			[cbContent]='conversionEncryptOutput'>Copy</button>
		<button mdbBtn class='btn btn-warning float-right'
			(click)='download("encrypt")'>Download</button>
	</div>

	<div class='col-sm-6'>
		<button mdbBtn class='btn btn-dark btn-lg btn-block'>
			Decryption
		</button>
		<div class='form-group dropzone' appDropzone (hovered)='toggleHover($event, "decrypt")'
			(dropped)='onDrop($event, "decrypt")' [class.hovering]='isHoveringDecrypt'>
			<label for='txtTextToConvert'>Enter Encrypted Text or Drag a File</label>
			<textarea class='form-control' placeholder='Text to decrypt'
				[(ngModel)]='encryptText'></textarea>
		</div>

		<div class='form-group'>
			<label for='txtPassword'>Password</label>
			<input type='password' class='form-control' placeholder='Decryption password'
				[(ngModel)]='decPassword'>
		</div>
		<textarea class='form-control' readonly>{{conversionDecryptOutput}}</textarea>

		<button mdbBtn class='btn btn-success float-right' (click)='decrypt()'>Decrypt</button>
		<button mdbBtn class='btn btn-info float-right' (click)='clear("decrypt")'>Clear</button>
		<button mdbBtn class='btn btn-default float-right' (click)='copy("decrypt")' ngxClipboard
			[cbContent]='conversionDecryptOutput'>Copy</button>
		<button mdbBtn class='btn btn-warning float-right'
			(click)='download("decrypt")'>Download</button>
	</div>
</div>