<div class='row mx-auto'>
	<div class='col-sm-6'>
		<button mdbBtn class='btn btn-primary btn-lg btn-block'>
			Encryption
		</button>
		<br>
		<div class='form-group dropzone' appDropzone (hovered)='toggleHoverEncrypt($event)'
			(dropped)='onDropEncrypt($event)' [class.hovering]='isHoveringEncrypt'>
			<label for='txtTextToConvert'>Enter Plain Text or Drag a File</label>
			<textarea class='form-control' placeholder='Text to encrypt'
				[(ngModel)]='plainText'></textarea>
		</div>

		<div class='form-group'>
			<label for='txtPassword'>Password</label>
			<input type='password' class='form-control' placeholder=' Encryption password'
				[(ngModel)]='encPassword'>
		</div>
		<textarea class='form-control' readonly>{{conversionEncryptOutput}}</textarea>
		<br>
		<button mdbBtn class='btn btn-success float-right' (click)='encrypt()'>Encrypt</button>
		<button mdbBtn class='btn btn-info float-right' (click)='clearEncrypt()'>Clear</button>
	</div>

	<div class='col-sm-6'>
		<button mdbBtn class='btn btn-dark btn-lg btn-block'>
			Decryption
		</button>
		<br>
		<div class='form-group dropzone' appDropzone (hovered)='toggleHoverDecrypt($event)'
			(dropped)='onDropDecrypt($event)' [class.hovering]='isHoveringDecrypt'>
			<label for='txtTextToConvert'>Enter Encrypted Text or Drag a File</label>
			<textarea class='form-control' placeholder='Text to decrypt'
				[(ngModel)]='encryptText'></textarea>
		</div>

		<div class='form-group'>
			<label for='txtPassword'>Password</label>
			<input type='password' class='form-control' placeholder='Decryption password'
				[(ngModel)]='decPassword'>
		</div>
		<textarea class='form-control' readonly>{{conversionDecryptOutput}}</textarea>
		<br>
		<button mdbBtn class='btn btn-success float-right' (click)='decrypt()'>Decrypt</button>
		<button mdbBtn class='btn btn-info float-right' (click)='clearDecrypt()'>Clear</button>
	</div>
</div>