<div *ngIf='chat else chatNotChoosed'>
	<mdb-card>
		<mdb-card-header class=''>
			<a class='nav-link waves-light media m-0 p-0' dropdownToggle mdbWavesEffect>
				<img src='https://api.adorable.io/avatars/0/{{chat.contact}}@adorable.io.png'
					alt='{{chat.contact}}' class='img-fluid rounded-circle' width='40px'>
				<div class='ml-1 font-weight-bold'>{{chat.contact}}</div>
			</a>
		</mdb-card-header>
		<mdb-card-body class='d-inline-block'>
			<div *ngFor='let message of messages'>
				<div class='text-right' *ngIf='message.owner == "user.id" else contact'>
					<div class='badge badge-primary'>{{message.text}}</div>
				</div>
				<ng-template #contact>
					<div class="div badge badge-light">
						{{message.text}}
					</div>
				</ng-template>
			</div>
		</mdb-card-body>
		<mdb-card-footer>
			<form class="md-form m-0 p-0 row">
				<input class="form-control form-control-sm m-0 p-0 col-11" type="text"
					placeholder="Send" aria-label="Send" mdbInput>
				<div class='m-0 p-0 col-1'>➤</div>
			</form>
		</mdb-card-footer>
	</mdb-card>
</div>

<ng-template #chatNotChoosed>
	choose a chat
</ng-template>