<div *ngIf='chat else chatNotChoosed'>
	<mdb-card>

		<mdb-card-header class='d-inline-flex'>
			<div class='nav-link waves-light media m-0 p-0' dropdownToggle mdbWavesEffect>
				<img src='{{destinationUser?.photoURL}}' alt='{{destinationUser?.displayName}}'
					class='img-fluid rounded-circle' width='40px'>
				<div>
					<div class='ml-1 font-weight-bold'>{{destinationUser?.displayName}}</div>
					<div><span class='font-weight-bold'>Chat ID: </span>{{chat.id}}
						<a>
							<mdb-icon fas icon="copy" ngxClipboard [cbContent]='chat.id'>
							</mdb-icon>
						</a>
					</div>
				</div>
			</div>
		</mdb-card-header>

		<mdb-card-body class='d-inline-block m-0 p-0 dropzone' appDropzone
			(hovered)='toggleHover($event)' (dropped)='onDrop($event)'
			[class.hovering]='isHovering'>

			<div class='custom-file d-inline-flex'>
				<input type='file' class='custom-file-input' id='customFileLang' lang='en'
					(change)='chooseFile($event)'>
				<label class='custom-file-label' for='customFileLang'>{{fileName}}</label>
			</div>

			<cdk-virtual-scroll-viewport itemSize='1' class='viewport ml-2' style='height: 650px'>
				<div *ngFor='let message of chat.messages'>

					<div class='text-right mr-2'
						*ngIf='message.ownerUid === currentUser?.uid else destination'>
						<div class='badge badge-primary'>
							<div *ngIf='message.type=="message" else fileCu'>
								{{message.text}}
							</div>
							<ng-template #fileCu>
								<app-file [file]='message'></app-file>
							</ng-template>
						</div>
					</div>
					<ng-template #destination>
						<div class='badge badge-light'>
							<div *ngIf='message.type=="message" else fileCo'>
								{{message.text}}
							</div>
							<ng-template #fileCo>
								<app-file [file]='message'></app-file>
							</ng-template>
						</div>
					</ng-template>
				</div>
			</cdk-virtual-scroll-viewport>

		</mdb-card-body>

		<mdb-card-footer>
			<div class='m-0 p-0 row'>
				<input mdbInput type='text' class='form-control col-11 m-0'
					placeholder='Send message' autocomplete='off' [(ngModel)]='text' #textField>

				<button mdbBtn mdbWavesEffect class='col-1 m-0 px-2 pb-2' (click)='sendMessage()'>
					<mdb-icon fas icon='paper-plane'></mdb-icon>
				</button>
			</div>
		</mdb-card-footer>
	</mdb-card>
</div>

<ng-template #chatNotChoosed>
	<img src="https://firebasestorage.googleapis.com/v0/b/deco-messenger.appspot.com/o/images%2Fchat.PNG?alt=media&token=9bbc2ef8-3b58-47e2-8525-3e1ccbd824ed"
		alt="chat" width="100%">
</ng-template>