<div class='container m-0 p-0 row'>
	<!-- Chats preview -->
	<div class='col-4 m-0 p-0'>
		<form class="md-form m-0 p-0 mb-2 mt-1 row">
			<input class="form-control m-0 p-0 col-10" type="text" placeholder="Search"
				aria-label="Search" mdbInput>
			<mdb-icon class='col-1 m-0 p-0 mt-1 ml-1' fas icon="search" aria-hidden="true">
			</mdb-icon>
		</form>
		<div class='' *ngFor='let chat of chats'>
			<app-chat-preview [chat]=chat (click)=openChat(chat)></app-chat-preview>
		</div>
	</div>

	<!-- Current Chat -->
	<div class='col-8 border-left'>
		<app-chat [chat]=currentChat [messages]=messages></app-chat>
	</div>
</div>