<div class='container-xl'>
	<div *ngIf='user$ | async as user; else signin'>
		<div class='row'>
			<!-- Chat List -->
			<div class='col-4 mr-0 pr-0'>
				<app-chat-list (chatOutput)='openChat($event)'></app-chat-list>
			</div>

			<!-- Current Chat -->
			<div class='col-8 border-left'>
				<app-chat [chat]='currentChat'></app-chat>
			</div>
		</div>
	</div>

	<ng-template #signin>
		<img src="https://firebasestorage.googleapis.com/v0/b/deco-messenger.appspot.com/o/images%2Fbanner.png?alt=media&token=90ba8ad7-86d6-4e98-9b68-3373aa36f85a"
			alt="banner" width="100%">
	</ng-template>
</div>